<div class="product-container owl-carousel" id="owl-carousel-last">
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      Sepette 5,90 TL
    </div>
    <div class="product-name">
      Product Name 1
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      Sepette 5,90 TL
    </div>
    <div class="product-name">
      Product Name 2
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      Sepette 5,90 TL
    </div>
    <div class="product-name">
      Product Name 3
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      Sepette 5,90 TL
    </div>
    <div class="product-name">
      Product Name 4
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      Sepette 5,90 TL
    </div>
    <div class="product-name">
      Product Name 5
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      Sepette 5,90 TL
    </div>
    <div class="product-name">
      Product Name 6
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      Sepette 5,90 TL
    </div>
    <div class="product-name">
      Product Name 7
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      Sepette 5,90 TL
    </div>
    <div class="product-name">
      Product Name 8
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      Sepette 5,90 TL
    </div>
    <div class="product-name">
      Product Name 9
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      Sepette 5,90 TL
    </div>
    <div class="product-name">
      Product Name 10
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      Sepette 5,90 TL
    </div>
    <div class="product-name">
      Product Name 11
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      Sepette 5,90 TL
    </div>
    <div class="product-name">
      Product Name 12
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      Sepette 5,90 TL
    </div>
    <div class="product-name">
      Product Name 13
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      Sepette 5,90 TL
    </div>
    <div class="product-name">
      Product Name 14
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
</div>
</div>
