<div class="product-container owl-carousel" id="owl-carousel-bottom">
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      50 TL alışverişe 5,45 TL
    </div>
    <div class="product-name">
      Fırsat Ürünü 1
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      50 TL alışverişe 5,45 TL
    </div>
    <div class="product-name">
      Fırsat Ürünü 2
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      50 TL alışverişe 5,45 TL
    </div>
    <div class="product-name">
      Fırsat Ürünü 3
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      50 TL alışverişe 5,45 TL
    </div>
    <div class="product-name">
      Fırsat Ürünü 4
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      50 TL alışverişe 5,45 TL
    </div>
    <div class="product-name">
      Fırsat Ürünü 5
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      50 TL alışverişe 5,45 TL
    </div>
    <div class="product-name">
      Fırsat Ürünü 6
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      50 TL alışverişe 5,45 TL
    </div>
    <div class="product-name">
      Fırsat Ürünü 7
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      50 TL alışverişe 5,45 TL
    </div>
    <div class="product-name">
      Fırsat Ürünü 8
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      50 TL alışverişe 5,45 TL
    </div>
    <div class="product-name">
      Fırsat Ürünü 9
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      50 TL alışverişe 5,45 TL
    </div>
    <div class="product-name">
      Fırsat Ürünü 10
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      50 TL alışverişe 5,45 TL
    </div>
    <div class="product-name">
      Fırsat Ürünü 11
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      50 TL alışverişe 5,45 TL
    </div>
    <div class="product-name">
      Fırsat Ürünü 12
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      50 TL alışverişe 5,45 TL
    </div>
    <div class="product-name">
      Fırsat Ürünü 13
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
  <div class="product-full">
    <div class="heart"><i class="fa-regular fa-heart"></i></div>
    <div class="product-image">
      <img src="none" alt="" style="background-color: #f1f1f1;">
    </div>
    <div class="product-discount">
      50 TL alışverişe 5,45 TL
    </div>
    <div class="product-name">
      Fırsat Ürünü 14
    </div>
    <div class="product-price">
      13,90 TL
    </div>
    <div class="product-add-to-basket">
      Sepete Ekle
    </div>
  </div>
</div>
</div>